form{
    width: 40vw;
    height: 45vh;
   
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
}
.back{
    background-image: url("/images/2.jpg");
    background-size: cover;
    height: 76vh;
   
}
.back h1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    color: #fff;
}
.form input{
    font-size: 16px;
	padding: 5px 10px;
	width: 100%;
	border: 1px solid #000;
	border-radius: 5px;
	outline: none;
    margin: 10px 0;
}
.form input[type="submit"]{
    width: 100px;
    margin-top: 10px;
    margin-left: 250px;
}
.form input[type="submit"]:hover{
    background-color: #a79ded;
}

.login{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.login input{
    font-size: 16px;
	padding: 5px 10px;
	width: 100%;
	border: 1px solid #000;
	border-radius: 5px;
	outline: none;
    margin: 10px 0;
}
.login input[type="submit"]{
    width: 100px;
    margin-top: 40px;
    margin-left: 250px;
}
.login input[type="submit"]:hover{
    background-color: #edb4af;
}
.lack{
    /* background-image: url("/images/3.jpg"); */
    background-size: cover;
    height: 76vh;
}
.lack h1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    color: #fff;
}